@import "./globalVar.scss";
@import "./animate.scss";
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #dcdde1;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b08f26;
}
/* Navigation */
nav {
  background: transparent;
}
.active {
  height: 100vh !important;
  background: #000 !important;
  z-index: 1 !important;
  transition: all 1s linear;
  .nav-link {
    transition: opacity 0.5s linear;
    opacity: 1;
    pointer-events: all;
  }
  ul.nav-item {
    height: 20% !important;
    display: block;
  }
}

button {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease;
  position: fixed;
  margin: 0 !important;
  padding: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  box-sizing: border-box;
  top: 10px;
  right: 10px;
  outline: none !important;
  @include dot;
  i {
    position: fixed;
    color: #2980b9;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}
button:hover {
  animation: paused;
  i {
    transition: all 0.3s linear;
    font-size: 40px;
  }
}
a {
  img {
    height: 50px;
  }
}
.nav-item {
  display: none;
}
.nav-link {
  text-align: center;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
.nav-link:link,
.nav-link:visited {
  font-weight: 600;
  font-size: 25px;
  color: #2980b9;
}
.nav-link:hover {
  color: #c0392b;
}

/* Landing Page section */
#home {
  height: 100vh;
  @include flex;
  background-color: #2d3436;
}
.intro {
  @include flex;
  position: relative;
  height: 70vh;

  h4 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #dfe6e9;
  }
  .down {
    background: black;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 91px -14px;
    cursor: grab;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;
    @include flow;
    i {
      position: relative;
      @include passingAnimate;
      width: 30px;
      font-size: 1.6rem;
      color: #dfe6e9;
    }
  }
  .down:hover {
    transition: all 0.5s linear;
    box-shadow: 0px 0px 20px 15px aliceblue;
    animation: none;
  }
}
// About Me.
.mainContent {
  margin-top: 20px;
  @include flex;
  flex-direction: row;
  margin: 60px 0px;
  img {
    height: 300px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.75);
    @include aura;
  }
  .aboutMe {
    margin: 20px;
    width: 60%;
    h5 {
      color: #2d3436;
      i {
        color: #b08f26;
        margin: 5px;
      }
    }
  }
}
/* skills section */
.skillSet {
  @include flex;
  background-image: url(../img/astronomy-dark-design-924824.jpg);
  image-orientation: center;
  background-size: cover;
  background-attachment: fixed;
  .mainTech,
  .frameworks,
  .otherTech {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .techEl {
      text-align: center;
      margin: 30px;
      .techTitle {
        font-size: 1.8rem;
        color: #ecf0f1;
        letter-spacing: 2px;
      }
      i {
        font-size: 3.3rem;
        color: #7d5fff;
      }
    }
  }
}
.mainTech:hover,
.frameworks:hover,
.otherTech:hover {
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px 5px #ecf0f1;
  .techEl {
    i {
      transition: all 0.2s ease-in-out;
    }
    i.fa-html5 {
      color: #e67e22;
    }
    i.fa-css3 {
      color: #2980b9;
    }
    i.fa-js-square {
      color: #ffc312;
    }
    i.fa-bootstrap {
      color: #5758bb;
    }
    i.fa-sass {
      color: #fda7df;
    }
    i.fa-react {
      color: #3498db;
    }
    i.fa-cube {
      color: #0097e6;
    }
    i.fa-git-square {
      color: #ecf0f1;
    }
    i.fa-figma {
      color: #ecf0f1;
    }
  }
}
/* Projects Section */
#projects {
  padding-top: 50px;
  .weather,
  .calculator,
  .recipie {
    @include flex;
    flex-direction: row;
    width: 100%;
  }
  .comment {
    a {
      box-sizing: content-box;
      font-style: italic;
      font-size: 1rem;
      color: #2c3e50;
      text-decoration: none;
      margin: 5px;
    }
    a:hover {
      color: #c0392b;
    }
  }
  img {
    height: 250px;
    margin: 20px 20px;
  }
  .description {
    width: 50%;
    text-align: center;
  }
  .text {
    @include font;
  }
  .tech {
    width: 30%;
    @include flex;
    i {
      font-size: 2rem;
    }
  }
}
.weather:hover,
.calculator:hover,
.recipie:hover {
  i.fab {
    transition: all 0.4s ease;
  }
  i.fa-html5 {
    color: #e67e22;
  }
  i.fa-css3 {
    color: #2980b9;
  }
  i.fa-react {
    color: #3498db;
  }
}
/* Contact section */
#contact {
  margin-top: 60px;
  background: #faf07d;
  position: relative;
  height: 100vh;
  text-align: center;
  .contactContainer {
    @include flex;
    img {
      height: 200px;
    }
    h2 {
      margin: 5px 0px;
    }
    .socialMedia {
      width: 40%;
      text-align: center;
      i {
        font-size: 3rem;
        color: black;
        margin: 0px 15px 0px 15px;
      }
      i:hover {
        color: #c0392b;
      }
    }

    p.lead {
      font-weight: bold;
      padding-top: 25px;
      border-top: 1px solid black;
      width: 100%;
      text-align: center;
      margin-bottom: 0 !important;
    }
  }
  .solider {
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
